<%- include('partials/header') -%>

<main class="mb-80">
    <div class="row justify-content-around mt-5">
        <a href="/login" class="col-3 btn btn-primary"> Login</a>
        <a href="/signup" class="col-3 btn btn-primary"> Signup as User</a>
        <a href="/signup/host" class="col-3 btn btn-primary"> Signup as Animal Host</a>
    </div>
</main>
    

<%- include('partials/footer') -%>